@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  
}

:root {
  --d-color-green: #55bc04;
  --d-color-gray: #c2c2c2;
  --d-color-white: #ffffff;
  --d-color-border-gray: #6f6f6f;
  --d-color-input: #c2c2c2;
  background-color: var(--d-color-gray);
}

.d-container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: inherit;
}

.d-flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.d-bg-white {
  min-height: 200px;
  border-radius: 5px;
  border: 1px solid var(--d-color-input);
  background-color: var(--d-color-white);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
